<div>
  <section class="bg-[#44475a] h-screen w-full" id='Home'>
    <div>
      <section class="bg-[#282a36f5] h-screen w-full flex" id='About'>
        <div id='tilt' class="tilt w-1/2 justify-center border-2 border-white mx-auto my-auto bg-[#50fa7b] h-1/3 p-4 realtive">
          <div class="w-full border-2 border-[#44475a] h-full content">
            <h2 class="text-center mt-5 font-semibold text-4xl text-[#44475a]">This is a Ticket</h2>
            <p class="p-5 text-lg text-[#44475a]">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
            <p class="my-10 mx-5 text-right text-lg text-[#44475a] font-semibold">#002</p>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<script>
  let el = document.getElementById('tilt')
  const height = el.clientHeight
  const width = el.clientWidth

  el.addEventListener('mousemove', handleMove)

  function handleMove(e) {
    const xVal = e.layerX
    const yVal = e.layerY
    const cVal = 12;
    const yRotation = cVal * ((xVal - width / 2) / width)
    const xRotation = -cVal * ((yVal - height / 2) / height)
    /* Generate string for CSS transform property */
    const string = 'perspective(500px) scale(1.1) rotateX(' + xRotation + 'deg) rotateY(' + yRotation + 'deg)'
    /* Apply the calculated transformation */
    el.style.transform = string
  }
  el.addEventListener('mouseout', function() {
    el.style.transform = 'perspective(500px) scale(1) rotateX(0) rotateY(0)'
  })
  /* Add listener for mousedown event, to simulate click */
  el.addEventListener('mousedown', function() {
    el.style.transform = 'perspective(500px) scale(0.9) rotateX(0) rotateY(0)'
  })
  /* Add listener for mouseup, simulate release of mouse click */
  el.addEventListener('mouseup', function() {
    el.style.transform = 'perspective(500px) scale(1.1) rotateX(0) rotateY(0)'
  })
</script>